<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419726705139-482clbc0puc9nmlik99iemtkhsvav92k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419726705139-482clbc0puc9nmlik99iemtkhsvav92k</string>
	<key>API_KEY</key>
	<string>AIzaSyCxMCpjjX_KUzrJy_vmEMax0lFcAgJfNBc</string>
	<key>GCM_SENDER_ID</key>
	<string>419726705139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab10</string>
	<key>PROJECT_ID</key>
	<string>lab10-7427e</string>
	<key>STORAGE_BUCKET</key>
	<string>lab10-7427e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419726705139:ios:1545963587649b0e56d286</string>
</dict>
</plist>